@font-face {
    font-family: coco;
    src: url(CocoPuff-Regular.ttf);
}
@font-face {
    font-family: george;
    src: url(Louis-George-Cafe.ttf);
}
body{
    margin:0;
    font-size: 14pt;
    background-color: white;
    color:black;
    font-family: george;
}
h1{
    margin: 0;
    font-family:coco;
    font-size: 4em;
}
.bar{
    display:flex;
    flex-direction:row;
    margin-right:2.5vh;
    margin-left:2.5vh;
}

.beat{
    display:flex;
    flex-direction:column;
}
.note{
    flex-grow: 1;
    border-radius: 2px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bcbcbc+0,999999+100 */
    background: #bcbcbc; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #bcbcbc 0%, #999999 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #bcbcbc 0%,#999999 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #bcbcbc 0%,#999999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#999999',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin:3px;
    cursor: pointer;
    min-width: 50px;
}

.individualVolume{
    display:block;
    height:10vh;
    margin-right: 1.5vw;
}
.position{
    margin-top:10px;
    min-width:5vw;
    display:flex;
    align-items: center;
}
.dot{
    min-width: 10px;
    min-height: 10px;
    display: block;
    margin:0 auto;
    border-radius: 50%;
}
.individualVolume input{
    width: 100%;
    height:100%;;
    text-align: center;
    border: none;
    box-sizing: border-box;
}
.active{
    background-color: #dd2222;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(221,34,34,1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(221,34,34,1);
    box-shadow: 0px 0px 6px 2px rgba(221,34,34,1);
}
.selected{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dd586c+0,e84a4a+100 */
    background: #e84a4a ; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #dd586c 0%, #e84a4a 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #dd586c 0%,#e84a4a 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #dd586c 0%,#e84a4a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd586c', endColorstr='#e84a4a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#sequenceContainer{
    display:inline-flex;
    width:100%;
    justify-content: center;
    align-content: center;
    padding-top:20px;
}

#addBar img{
    width:5vh;
    height:100%;
}
#controlContainer{
    width:100vw;
}
#control{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 0.5fr 0.5fr;
    position: fixed;
    left:42.5vw;
    bottom:1vh;
    border:black solid 4px;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    padding:0.5vw;
    color:black;
    box-sizing: border-box;
    padding-bottom: 0;
    font-size: 0.75em;
    border-radius: 2px;
}
#control > div#play{
    height:4vh;
}
#tagLine{

    visibility: hidden;
}
#control > div{
    text-align: center;
    width: auto;
    height:3vh; 
    box-sizing: border-box;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}
#control img{
    height:80%;
}
#play img{
    height:100%;
}

div#globalVolume{
    grid-column-start:2;
    grid-column-end:6;
    width:100%;
    box-sizing: border-box;
}
#volume_slider{
    width:90%;
}
#time > div{
    display: inline;
}

#bpm_slider{
    position: absolute;
    left:10%;
    bottom:5%;
}
#channelVolume{
    display: none;
}


#uiGrid{
    display: flex;
    flex-direction: column;
    width:auto;
    height:auto;

}

#titleContainer{
    height:33vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
#titleContainer > div{
    width:66vw;
    height:25vh;;
    position: fixed;
}
#titleContainer h1{
    text-align: center;
}
#tagLine{
    width: 33vw;
    display: block;
    margin: auto;
    text-align: center;
}
.verticalCentre{
    display: flex;
    justify-content: center;
    height: 50vh;
    box-sizing: border-box;
    padding-bottom: 2.5vh;
    padding-top: 2.5vh;
    align-content: center;
    background-color: black;
    -webkit-box-shadow: 0px 0px 7px 10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 7px 10px rgba(0,0,0,1);
    box-shadow: 0px 0px 7px 10px rgba(0,0,0,1);
}
#sequencerControls{
    padding-top:4px;
    padding-bottom:4px;
    display: flex;
    position:fixed;
    right:0;
    width:0;
}
#sequencerControls > div{
    flex-grow: 1;
    cursor: pointer;
}
#sequencerControls > div:first-of-type{
    align-self: center;
    justify-items: center;
}
#sequencerControls > div:nth-of-type(2){
    display: none;
}
#specificControls{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width:50%;
}
.openDraw{
    display: flex;
    height:8vh;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    color:white;
}

#control > div:nth-child(8){
    font-size: 1.33em;
    grid-column-start:1;
    grid-column-end:6;
    height:2vh;
    margin-bottom: 10px;
    cursor: default;
}

#topControls{
    position:fixed;
    right:1vh;
    top:33.5vh;
    height:3vh;
    display:flex;
}
#topControls > div{
    height: 100%;
    margin-right:10px;
}
#topControls img{
    height:100%;
    width:auto;
    cursor: pointer;
}
.rangeslider__handle {
    width: 20px;
    height: 100px;
  }
  
  .clear{
      clear:both;
  }
  